@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {

    font-family: "myFont";
    src: url('./fonts/myFont.ttf')

  }
  @font-face {

    font-family: "myFont2";
    src: url('./fonts/myFont2.ttf')

  }

}
